<!DOCTYPE html>
<html lang="en">
<head>
    <link href="https://fonts.googleapis.com/css?family=Roboto+Slab&display=swap" rel="stylesheet">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Movie</title>
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles.css')}}">
</head>
<body>
    <h2>Movie Info</h2>
 
    <form action="http://127.0.0.1:5000/namemovie/test" method="POST">
        <p> <b>Movie Name:</b> <input type = "text" name = "nameMovie" class="movie-input"/></p>
        <p><input type = "submit" value = "Search" /></p>
    </form>

    <iframe src="https://www.youtube.com/embed/dQw4w9WgXcQ" allow="autoplay" frameborder="0" class="yt-player" ></iframe>
    
    <footer>
        This website was made by lohith; you're probably here from my github page. Thanks for dropping by!
    </footer>
</body>
</html>