<!DOCTYPE html>
<html lang="en">
<head>
    <link href="https://fonts.googleapis.com/css?family=Roboto+Slab&display=swap" rel="stylesheet">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Movie</title>
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles.css')}}">

</head>
<body>


    <form action="http://127.0.0.1:5000/namemovie/test" method="POST">
        <p> <b>Movie Name:</b> <input type = "text" name = "nameMovie" class="movie-input"/></p>
        <p><input type = "submit" value = "Search" /></p>
    </form>

    <p class="movie-name"><b>Movie:</b>&nbsp;{{movieName}}</p>
    <iframe src= {{youtubeLink}} frameborder="0" class="yt-player"></iframe>
    <div class="rating">
        <p class="avg-rating"><b>IMDB:</b> {{imdbRate}} &nbsp;&nbsp; <b>MetaCriticRating:</b> {{metaRate}} &nbsp;&nbsp; <b>RottenTomatoesRating:</b> {{rotRate}} </p>
        <p class="num-rev"> <b>Plot:</b> {{ plot }} </p>
    </div>

    <div class="top-rev">
        <div id="rev0">
            {{ rev0 }}
        </div>
        <div id="rev1">
            {{ rev1 }}

        </div>
        <div id="rev2">
            {{ rev2 }}
        </div>
    </div>

    <footer>
            This website was made by lohith; you're probably here from my github page. Thanks for dropping by!
    </footer>
    
</body>
</html>

